/* create A page where stats categories are displayed in the middle while "PLAYER 1" stats are displayed on the left and "PLAYER 2" stats are displayed on the right */
/* player with the better stat in each category will have their stat colored green and the lesser stat will be red */
/* Possibly if their is only one player display all of their stats in the center */
/* If possible display three players stats compared */
/* If Possible change main section of program to include tables instead of three seperate divs */
* {
  box-sizing: border-box;
}
table {
  text-align: center;
}
th {
  font-size: 1.6em;
}
td {
  font-size: x-large;
  padding-top: .5em;
}

#middle-container {
  display: flex;
  justify-content: flex-end;
  /* padding-left: 5em; */
  /* padding-right: 5em; */

}

#flexbox{
  display: flex;
  width: 100%;
  justify-content: center;
}

#main-container {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  border: 5px solid black;
  border-radius: 30px;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin: 15px 15px;
  -webkit-box-shadow: 2px 3px 8px blue;
  -moz-box-shadow: 2px 3px 8px blue;
  box-shadow: 2px 3px 8px rgb(59, 59, 59);
}

/* .main-content{
    border: 3px solid red;
} */

table {
  border: 1px solid red;
}

tr {
  display: flex;
  flex-direction: column;
}

#form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#form-container::after {
  content: "";
  width: 100%;
}

#searchForm1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-right: 0.5em;
}
#searchForm2 {
  flex-direction: column;
  display: flex;
  align-items: flex-end;
  padding-left: 0.5em;
}

#searchform2 ul{
  display: flex;
  justify-content: flex-end;
}

button {
  margin-top: 0.2em;
  margin-bottom: 0.5em;
  order: 1;
}

.main-content{
  border: 2px solid green;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#player1-container{
  
}

.player1-image-container{
  width: auto;
  justify-content: center;
  /* object-fit: cover; */
}
#player1-image{
  /* object-fit: cover; */
}

#season{
  text-align: center;
  white-space: normal;
}

ul{
  padding: 0;
}

.season-display{
  display: none;
}

td:nth-of-type(2n){
  background-color: rgb(233, 233, 233);
}

h3{
  align-self: center;
}

.hidden{
  display: none;
}

.shown{
  display: flex;
}

#middle-table > tbody > tr:nth-child(2) > td:nth-child(9){
  white-space: nowrap;
}